<div *ngFor="let loop of counter(totalPages); let i = index">
  <div class="left">
    <h1>{{ i + 1 }}</h1>
    <input
      (change)="isSelect($event)"
      type="checkbox"
      name="'page'+ (i + 1)"
      [id]="'page' + (i + 1)"
      [value]="i + 1"
    />
  </div>
  <pdf-viewer
    [src]="pdfSrc"
    [show-all]="false"
    [page]="i + 1"
    [zoom]="0.3"
    (after-load-complete)="afterLoadComplete($event)"
  >
  </pdf-viewer>
</div>

<div class="left">
  <h1 *ngIf="rows.length != 0">Paginas seleccionadas</h1>
  <h1 *ngIf="rows.length == 0">Ninguna pagina seleccionada</h1>
  <p class="left" *ngFor="let item of rows">{{ item.page }}</p>
</div>

<button class="rigth" (click)="submit()" type="submit">Enviar PDF</button>
